<div class="body">
    <div class="over-play">
        <h1>Hello!</h1>
        <h2>Welcome to Oni Manius</h2>
    </div>

    <div class="" id="fullpage">
        <div class="section header-index">
            <div class="slider">
                <div class="slider__slide slider__slide--active" data-slide="1">
                    <div class="slider__wrap">
                        <div class="slider__back"></div>
                    </div>
                    <div class="slider__inner">
                        <div class="slider__content">
                            <h1>Slide <br> One</h1><a class="go-to-next">next</a>
                        </div>
                    </div>
                </div>
                <div class="slider__slide" data-slide="2">
                    <div class="slider__wrap">
                        <div class="slider__back"></div>
                    </div>
                    <div class="slider__inner">
                        <div class="slider__content">
                            <h1>Slide <br> Two</h1><a class="go-to-next">next</a>
                        </div>
                    </div>
                </div>
                <div class="slider__slide" data-slide="3">
                    <div class="slider__wrap">
                        <div class="slider__back"></div>
                    </div>
                    <div class="slider__inner">
                        <div class="slider__content">
                            <h1>Slide <br> Three</h1><a class="go-to-next">next</a>
                        </div>
                    </div>
                </div>
                <div class="slider__indicators"></div>
            </div><a class="sig" href="" target="_blank">Oni Manious</a>
        </div>
        <div class="section content-home">
            <div class="img-content">
                <img src="/images/General/LOGO_B.png" alt="">
                <hr size="10px" width="63%" color="#333">
                <p class="data">ONI.M is a group of young artist and designer who share passion for
                    architectural
                    visualization and
                    <br>computational design.
                </p>
                <h3>OUTSTANDING PROJECTS</h3>
            </div>
            <div class="silder-img owl-carousel owl-theme">
                {{#each project}}
                <div class="item">
                    <h4>{{Date}}</h4>
                    <img src="http://localhost:8000//images/upload/{{img}}" alt="">
                    <div class="des-img">
                        <p>{{Description}}</p>
                        <h4>{{Name}}</h4>
                    </div>
                </div>
                {{/each}}

            </div>
            <button class=""><a href="./work.html" style="color: black;">OUR GALERY</a></button>
            <hr size="10px" width="73%" color="#333">
        </div>
        <div class="section infomation">
            <div class="col-sm-12 infomation_about">
                <div class="col-sm-5">
                    <p>From our young talented team. </br>
                        We provide the 3d visual services for projects from different scale ... </p>
                    <button class=""><a href="./about.html" style="color: black;">KNOW MORE ABOUT US</a></button>
                </div>
                <div class="col-sm-7">
                    <img src="/images/Home/HOME_TL_W_A03.jpg" alt="">
                </div>
            </div>
            <div class="col-md-12 infomation-home row">
                <div class="col-md-8">
                    <div class="col-md-4">
                        <img class="" src="/images/Home/HOME_TL_W_B01.jpg" alt="">
                    </div>
                    <div class="col-md-4">
                        <img class="" src="/images/Home/HOME_TL_W_B02.jpg" alt="">
                    </div>
                    <div class="col-md-4">
                        <img class="" src="/images/Home/HOME_TL_W_C01.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-4 text_info">
                    <p>
                        From our young talented team.</br>
                        We provide the 3d visual services for projects from </br>
                        different scale ...
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>