<div class="footer">
    <ul class="icon_footer">
        <li><i class="fab fa-facebook trang"></i></li>
        <li><i class="fab fa-behance trang"></i></li>
        <li><i class="fab fa-vimeo trang"></i></li>
        <li><i class="fab fa-instagram trang"></i></li>
    </ul>
</div>