    <!-- Navigation Bar -->
    <nav>
        <div class="brand">
            <img src="/images/General/LOGO_Text.png" style="width: 450%;" alt="">
        </div>
        <ul>
            <li><a href="./"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
            <li><a href="/work"><i class="fa fa-info" aria-hidden="true"></i> Work</a></li>
            <li><a href="./blog"><i class="fa fa-truck" aria-hidden="true"></i> Blog</a></li>
            <li><a href="./about"><i class="fa fa-info" aria-hidden="true"></i> About US</a></li>
            <li><a href="./contact"><i class="fa fa-location-arrow" aria-hidden="true"></i> Contact</a>
            </li>
        </ul>
    </nav>