<div class="contact_body col-md-12">
    <div class="info_studio col-md-3" style="background-image: url(./images/Contact/CONTACT_00.jpg);">

    </div>
    <div class="contact col-md-9">
        <div class="row">
            <div class="col-md-5 contact_content">
                <div class="card-body contact_content">
                    <h5 class="card-title">ONI.M STUDIO</h5>
                    <p class="card-text">ARCHITECTURAL VISUALIZATION</p>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-3 contact_content">
                <div class="card-body">
                    <h5 class="card-title">CONTACT</h5>
                    <p>+84949482573</p>
                    <p class="card-text">INFO@ONI.MSTUDIO.COM</p>
                    <p class="card-text">90 THANH THAI
                        DA NANG ,VIET NAM</p>
                    <p class="card-text">SKYPE</br>
                        ONIMSTUDIO</p>
                </div>

            </div>

        </div>
        <div class="containerForm">

            <form action="/contact/send-mail" method="POST">
                <h4 style="font-weight: 400;">MESSAGE</h4>
                <div class="formBox">
                    <div class="inputBox w50">
                        <input type="text" name="your_name" required>
                        <span>Your Name</span>
                    </div>

                    <div class="inputBox w50">
                        <input type="text" name="email" required>
                        <span>Email</span>
                    </div>

                    <div class="inputBox w100">
                        <textarea name="message" required></textarea>
                        <span>Your Message</span>
                    </div>
                    <div class="inputBox w100">
                        <input type="submit" value="Send">
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>