<div class="contact_body col-md-12" style="padding: 0;">
    <div class="info_studio col-md-3" style="background-image: url(./images/Contact/CONTACT_00.jpg);">
        <!-- <h3 class>CONTACT US</h3>
                <p>Now, as you were able to get a picture of who we are,
                how we work and what we can do for you and your
                brand, it is up to you to contact us and lay the foundation for 
                a new and successful business relationship</p>
                <ul class="contact-icon text-warning">
                    <li><i class="fas fa-globe text-warning"></i><p>info@redmoth.com</p></li>
                    <li><i class="fas fa-envelope text-warning"></i><p>info@redmoth.com</p></li>
                    <li><i class="fas fa-phone-volume text-warning"></i><p>(+84) 949 482573</p></li>
                </ul> -->
    </div>
    <div class="contact col-md-9" style="margin-top: -10px;">
        <div class="row">
            <div class="card col-md-5">
                <div class="card-body">
                    <h5 class="card-title">ONI.M STUDIO</h5>
                    <p class="card-text">ARCHITECTURAL VISUALIZATION</p>
                </div>

            </div>
        </div>
        <div class="row" style="margin-top: -50px;">
            <div class="card col-md-3">
                <div class="card-body">
                    <h5 class="card-title">CONTACT</h5>

                    <p class="card-text">info@redmoth.com</p>
                    <p class="card-text">148 PHAN DANG LUU
                        DA NANG ,VIET NAM</p>
                </div>

            </div>

        </div>
        <div class="containerForm">
            <form action="/contact/send-mail" method="POST">
                <h4 style="font-weight: 400;">MESSAGE</h4>
                <div class="formBox">
                    <div class="inputBox w50">
                        <input type="text" name="your_name" required>
                        <span>Your Name</span>
                    </div>

                    <div class="inputBox w50">
                        <input type="text" name="email" required>
                        <span>Email</span>
                    </div>

                    <div class="inputBox w100">
                        <textarea name="message" required></textarea>
                        <span>Your Message</span>
                    </div>
                    <div class="inputBox w100">
                        <input type="submit" value="Send">
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>