<div class="" id="fullpage">
        <div class="head-about section">
            <div class="col-12 scrollreveal">
                <img src="/images/General/LOGO_B.png" alt="" style="width: 67px;">
                <hr size="10px" width="53%" color="#333">
                <p>Oni.Manius is a group of young artist and designer who share passion for architectural visualization
                </p>
                <p>and computational design.</p>
            </div>
            <img src="/images/AboutUs/BANNER_B_00.jpg" alt="" width="100%" style="height: 50%;">
            <hr size="10px" width="53%" color="#333">
        </div>
        <div class="section">
            <div class="service-about row col-md-12">
                <div class="col-md-4 content-about">
                    <h3>SERVICE</h3>
                    <h5>Primary</h5>
                    <p>With a strong team of 3d artists who have comprehensive
                        knowledge and experiences in architectural field ,our
                        main service is creating stunning architectural renderings.
                        Most of our clients are architects ,interior designer, developer</p>
                </div>
                <div class="col-md-7">
                    <img src="/images/AboutUs/SER_A_00.png" alt="" width="100%">
                </div>

            </div>

            <!-- <div class="other-about row col-md-12">
                <div class="col-md-8 ">
                    <img src="./images/AboutUs/BANNER_A_01.jpg" alt="">
                </div>
                <div class="col-md-4 other-text " style="padding-left: 50px;">
                    <h3>Other</h3>
                    <p>Competition visualizations </br>
                        Design Collaboration</br>
                        Computational design support</br>
                        Marketing campaign materials for developers</p>
                </div>

            </div> -->
        </div>
        <hr size="10px" width="53%" color="#333">
        <div class="section">
            <div class="q_a col-md-12 row">
                <div class="col-md-8">
                    <img src="/images/AboutUs/WF_00.jpg" alt="">
                </div>
                <div class="col-md-4 work-flow">
                    <h3>WORK FLOW ,Q&A</h3>
                    <p>Arqui9 Visualisation is an award winning architectural visualisation studio
                        located South of London,
                        dedicated to creating visualisations for the (un)built environment</p>
                    <a href="" class="work-flow">
                        <p>Service</p>
                        <span>Content</span>
                    </a>
                    <p>Primary</p>
                    <p>Competition visualizations</p>
                    <p>Design visualization support</p>
                    <p>Computational design support</p>
                    <p>Marketing campaign materials for developers</p>

                </div>
            </div>
        </div>
        <!-- <div class="col-md-12 img-public ">
            <img src="./images/AboutUs/BANNER_A_00.jpg" alt="" srcset="">
        </div> -->
        <div class="section">
            <div class="col-md-12 row team">
                <div class="col-md-6 team-text">
                    <h3>TEAM</h3>
                    <p>Arqui9 Visualisation is an award winning architectural visualisation studio
                        located South of London,
                        dedicated to creating visualisations for the (un)built environment</p>
                    <p>Service</p>
                    <p>Primary</p>
                    <p>Competition visualizations</p>
                    <p>Design visualization support</p>
                    <p>Computational design support</p>
                    <p>Marketing campaign materials for developers</p>

                </div>
                <div class="col-md-6">
                    <img src="/images/AboutUs/TEAM_00.jpg" alt="">
                </div>
            </div>
            <div class="team-info row col-md-7 owl-carousel">
                {{#each member}}
                <div class="member-info">
                    <img class="" src="http://localhost:8000/images/upload/{{img}}" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{Name}}</h5>
                        <h5 class="card-title">{{Role}}</h5>
                        <p class="card-text">{{Description}}</p>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <!-- <div class="footer-info row col-sm-12">

            <div class="socail col-sm-2">
                <h5>FOLOW</h5>
                <a href="">Instagram</a></br>
                <a href="">Behance</a>
            </div>
            <div class="socail col-sm-5">
                <h5>HOURS</h5>
                <p>Monday – Friday</p>
                <p>8:00am – 5:30pm
                </p>
                <p>DA NANG 5:30pm</p>
            </div>
            <div class="addres col-sm-4">
                <p>148 - PHAN DANG LUU - HAI CHAU - DANANG - VIET NAM</p>
                <p>+84 949 482 573 - INFO@ONI.MSTUDIO.COM</p>
            </div>
        </div> -->
    </div>