<div class="" id="about">
    <section class="head-about section ">
        <div class="col-12 scrollreveal head-about-content p-top-50">
            <img src="./images/General/LOGO_B_Text.png" alt="" style="width: 15%;">
            <hr size="10px" width="53%" color="#333">
            <p>Oni.Manius is a group of young artist and designer who share passion for architectural visualization
            </p>
            <p>and computational design.</p>
        </div>
        <img src="./images/AboutUs/ABOUT_BANNER_00.jpg" alt="" width="100%" class="img_head_about">

    </section>
    <section class="section why_about">
        <div class="col-md-12 row why_about">
            <div class="col-md-4 why_about_title p-top-50">
                <h5>WHY WE ARE 3D DESIGNERS</h5>
                <div class="content_why" style="line-height: 2;">
                    <p> <i class="far fa-circle"></i> Oni.Manious Who are we ?</p>
                    <p> <i class="far fa-circle"></i> Services we provide </p>
                    <p> <i class="far fa-circle"></i> Work flow | FAQ</p>
                </div>
            </div>
            <div class="col-md-8 p-top-50">
                <div class="icon-why col-12 row">
                    <div class="col-10"></div>
                    <div class="col-2"><img src="./images/General/LOGO_B_Text.png" alt="" style="float: right;">
                    </div>

                </div>
                <div class="content_why">
                    <p>Oni.Manius is a group of creative artists and designers who share passion for
                        architecturalvisualization</br>
                        and computational design. We realize that the recent world of 3D design is the perfect way
                        to help clients</br>
                        to visualize their perfected design projects, from commercial scale to private homes. Being
                        inspired by</br>
                        the world around us, from nature’s organic forms to lifestyle needs of society, we aim to
                        produce 3D designs</br>
                        signs that offer you a new clarity in the way that you can visualize and experience your
                        project.
                    </p>
                    <img src="./images/AboutUs/ABOUT_BANNER_01.png" alt="" class="img_content_why">
                    <h6>Our Ethos</h6>
                    <div class="why_des">
                        <h6>Cooperation</h6>
                        <p>We aim to apply our high level of cooperation between our team members and
                            client relationships in order to apply the most positive and caring level to our
                            work, maximizing the highest level of finished quality</p>
                        <h6>Communication</h6>
                        <p>
                            By communicating carefully with you at every stage will develop a concise
                            understanding of your needs in order to produce the finished design that follows your
                            specific requirements
                        </p>
                    </div>


                </div>
            </div>
        </div>
    </section>
    <section class="section team">
        <div class="col-md-12 row why_about why_about_next">
            <div class="col-md-4 why_about_title">
            </div>
            <div class="col-md-8">
                <div class="content_why content_why_next">
                    <div class="why_des p-l-12">
                        <h6>Experience</h6>
                        <p>Our team of 3D designers has worked closely with a client base of architects,
                            designers, and developers on 5* resorts, commercial spaces,and exceptionally
                            comfortable private homesin Vietnam (and internationally).Some of our
                            customers include works for hotel groups such as: Accor, Radisson Blu, and
                            applications forSBID awards….</p>
                        <h6>Beauty</h6>
                        <p>
                            With a focus on beauty in the 3D design spectrum, we continually add enjoyment to our
                            work, and thus we recognize that beauty will always be one of our
                            key end goals for any given 3D visual work as perceived by our customers and
                            our team
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="core-team col-md-12 row">
            <div class="row col-12" style="background-color: #efefef; margin: 0;">
                <div class="col-10">
                    <h5 class="h5_about">Core team</h5>
                </div>
                <div class="col-2"><img src="./images/General/LOGO_B_Text.png" style="width: 45%; float: right;">
                </div>
            </div>
            <div class="card col-md-2 card-about">
                <img class="card-img-top" src="./images/AboutUs/pr_00.jpg" alt="">
                <div class="card-body">
                    <h6 class="card-title">THUY TRAN</h6>
                    <p class="card-text">Founder|</p>
                    <p class="card-text">3D Artist, specialised in </br> computational design </p>
                </div>
            </div>
            <div class="card col-md-2 card-about">
                <img class="card-img-top" src="./images/AboutUs/pr_01.jpg" alt="">
                <div class="card-body">
                    <h6 class="card-title">NHU NGUYEN</h6>
                    <p class="card-text">Founder|</p>
                    <p class="card-text">3D Artist, specialised in </br> computational design </p>
                </div>
            </div>
            <div class="card col-md-2 card-about">
                <img class="card-img-top" src="./images/AboutUs/pr_02.jpg" alt="">
                <div class="card-body">
                    <h6 class="card-title">NGUYEN PHAN</h6>
                    <p class="card-text">Founder|</p>
                    <p class="card-text">3D Artist, specialised in </br> computational design </p>
                </div>
            </div>
            <div class="card col-md-2 card-about">
                <img class="card-img-top" src="./images/AboutUs/pr_03.jpg" alt="">
                <div class="card-body">
                    <h6 class="card-title">CUONG PHAN</h6>
                    <p class="card-text">Founder|</p>
                    <p class="card-text">3D Artist, specialised in </br>computational design </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section service">
        <div class="col-md-12 row service_about">
            <div class="col-md-6">
                <h6>SERVICE</h6>
                <div class="content_service">
                    <h6>Primary</h6>
                    <p>We combine our comprehensive knowledge and experience
                        in architectural, interior, and landscaping design to produce high quality 3D renderings
                        that
                        are tailored precisely
                        to suit our clients’ needs
                    </p>
                    <p class="p-t-05">Additional Services upon request</p>
                    <ul>
                        <li>1. Computational design support </li>
                        <li>2. Competition visualization</li>
                        <li>3. Design Collaboration</li>
                        <li>4. Marketing campaign materials for developers</li>
                    </ul>

                </div>
            </div>
            <div class="col-md-6">
                <img src="./images/AboutUs/ABOUT_BANNER_02.jpg" alt="">
            </div>
        </div>
        <div class="img_service">
            <img src="./images/AboutUs/ABOUT_BANNER_03.jpg" alt="" srcset="">
        </div>
    </section>
    <section class="section work-flow">
        <h3>WORK FLOW ,Q&A</h3>
        <div class="content-work-flow col-md-12 row">
            <div class="col-md-6">
                <h6>WORK FLOW</h6>
                <p>Our Process:</br>
                    We integrate our core work flow stages and structure
                    into the specific needs of each customer and client.
                    Therefore we tailor an efficient process and work
                    flow for each given project, architecture, interior
                    and development. We consistently focus on achieving the maximum benefit and ease of process for
                    each individual project</p>
                <h6>FAQ</h6>
                <p>Additional Services upon request</p>
                <div class="accordion">
                    <div class="accordion-item">
                        <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">1. What
                                source materials from the client are required to start production of the
                                project ?</span></button>
                        <div class="accordion-content">
                            <p>-We can work with different amounts of source materials. While it is not absolutely
                                necessary,
                                in order to make the renders as accurate as possible, we prefer to receive the full
                                technical task
                                before starting the production of the project. That includes a detailed description
                                of important
                                details, technical drawings, reference materials for lighting atmosphere, colors,
                                specific details,
                                etc. You can include all the information you have available for the project..</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button id="accordion-button-2" aria-expanded="false"><span class="accordion-title">2.
                                (Concept Design for architecture and interior)</span></button>
                        <div class="accordion-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis
                                ut. Ut tortor pretium viverra suspendisse potenti.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button id="accordion-button-3" aria-expanded="false"><span class="accordion-title">3.
                                Design Collaboration</span></button>
                        <div class="accordion-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis
                                ut. Ut tortor pretium viverra suspendisse potenti.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button id="accordion-button-4" aria-expanded="false"><span class="accordion-title">4.
                                Computational design support</span></button>
                        <div class="accordion-content">
                            <p>Lorem ipsum dolor sit amen, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis
                                ut. Ut tortor pretium viverra suspendisse potenti.</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <img src="./images/AboutUs/03_(0).jpg" alt="">
            </div>

        </div>
        <div class="footer-info row col-sm-12">
            <div class="socail col-sm-1">
                <h5>FOLOW</h5>
                <a href="">Instagram</a></br>
                <a href="">Behance</a>
            </div>
            <div class="socail col-sm-7">
                <h5>HOURS</h5>
                <p>Monday – Friday</p>
                <p>8:00am – 5:30pm
                </p>
                <p id="time">DA NANG 5:30pm</p>
            </div>
            <div class="addres col-sm-4">
                <p>148 - PHAN DANG LUU - HAI CHAU - DANANG - VIET NAM</p>
                <p>+84 949 482 573 - INFO@ONI.MSTUDIO.COM</p>
            </div>
        </div>
    </section>

</div>