<div class="overlay">
    <img src="./images/General/LOGO_B.png" alt="" width="70px">
    <h1>ONIMANIUS</h1>

</div>

<div class="body_work">
    <div class="slider">
        <button class="myBtn">EXPLORE</button>
    </div>

    <div class="head-about">
        <div class="col-12">
            <img src="./images/General/LOGO_B_Text.png" alt="" style="width: 200px;">
            <hr size="10px" width="100%" color="#333">
            <p>3D VISUALIZATION &</p>
            <p>COMPUTATIONAL DESIGN SOLUTION</p>
        </div>
    </div>
    <div class="noidung-work">
        {{#each product}}
        <div class="khoianh">
            <figure>
                <a href="http://onimanius.com:8000/images/upload/{{img}}" data-fancybox="gallery">
                    <img src="http://onimanius.com:8000/images/upload/{{img}}">
                    <div class="hover-effect">
                        <div class="hover-content">
                            <h3>{{title}} <em></em></h2>
                                <p>{{ description }}</p>
                        </div>
                    </div>
                </a>

            </figure>
        </div>
        {{/each}}


    </div>
    <!-- ======================End img ========================== -->
    <button onclick="topFunction()" id="backtop"><i class="fas fa-arrow-up"></i></button>
    <div class="footer-info row col-sm-12" style="position: relative; height: 15vh; bottom: 8px">
        <div class="socail col-sm-1">
            <h5>FOLOW</h5>
            <a href="">Instagram</a></br>
            <a href="">Behance</a>
        </div>
        <div class="socail col-sm-7">
            <h5>HOURS</h5>
            <p>Monday – Friday</p>
            <p>8:00am – 5:30pm
            </p>
            <p>DA NANG 5:30pm</p>
        </div>
        <div class="addres col-sm-4">
            <p>148 - PHAN DANG LUU - HAI CHAU - DANANG - VIET NAM</p>
            <p>+84 949 482 573 - INFO@ONI.MSTUDIO.COM</p>
        </div>
    </div>


</div>